<div ng-init="getProjectById()">
  <div class="projectHeader">
    <div class="container">
      <h1 class="display-3">{{ project.title }}</h1>
      <p class="profileInfo"> Created by <a href="#">AIESEC</a></p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="appDisplayCard boxShadow">
          <div class="iconDisplayYellow">
            <span class="iconDisplaySpan icon-group"></span>
          </div>
          <div class="textDisplay">
            <h3 class="textDisplayTitleYellow">PLACES </h3>
            <p>5/12</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="appDisplayCard boxShadow">
          <div class="iconDisplayGreen">
            <span class="iconDisplaySpan icon-globe"></span>
          </div>
          <div class="textDisplay">
            <h3 class="textDisplayTitleGreen">REGION</h3>
            <p>Latin America</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="appDisplayCard boxShadow">
          <div class="iconDisplayRed">
            <span class="iconDisplaySpan icon-book"></span>
          </div>
          <div class="textDisplay">
            <h3 class="textDisplayTitleRed">WORK AREA</h3>
            <p>Education</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="appDisplayCard boxShadow">
          <div class="iconDisplayBlue">
            <span class="iconDisplaySpan icon-calendar"></span>
          </div>
          <div class="textDisplay">
            <h3 class="textDisplayTitlePurple">START DATE</h3>
            <p>01/02/18</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="infoWrap boxShadow">
          <h2 >Project Description</h2>
          <div class="descriptionDisplay">
            <p> {{ project.description }} <a href="#">Edit</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <section class="pageInfo">
        <!-- Page Info Content -->
          <div class="infoWrap boxShadow">
            <h2 >Project Info</h2>
            <div class="infoItem">
              <i class="icon-calendar"></i>
              <p>From 05/03/2018 to 07/05/18</p>
              <a href="#">Edit</a>
            </div>
            <div class="infoItem">
              <i class="icon-calendar"></i>
              <p>Accepting aplications untill 05/02/18</p>
              <a href="#">Edit</a>
            </div>
            <div class="infoItem">
              <i class="icon-globe"></i>
              <p clas="">Mexico | Ciudad del Mexico</p>
              <a href="#">Edit</a>
            </div>
            <button type="button" class="lineBreak projectApplyBtn appBtn btn">Apply Now &raquo</button>
          </div>
        </section>
        <section class="avatarDisplay">
        <!-- Avatar Display Content -->
        </section>
      </div>
      <div class="col-7">
        <section ng-controller="getProjectComments" ng-init="getProjectComments()" class="pageComments">
          <div class="infoWrap boxShadow">
            <h2>Coments</h2>
            <div class="comment comentForm">
              <div class="commentAvatarWrap">
                <img class="avatarImg" src="profile5.png" alt="?">
              </div>
              <div  ng-controller="newComment" class="commentFormContent">
                <form ng-submit="onSubmit()" >
                  <textarea ng-model="text" rows="3" placeholder="Type a comment..." type="text"></textarea>
                  <button type="submit" class="commentSendBtn appBtn btn">Send<i class="  icon-send"></i></button>
                </form>
              </div>
            </div>
            <div ng-repeat="comment in comments" class="comment">
              <div class="commentAvatarWrap">
                <img class="avatarImg" src="profile1.png" alt="?">
              </div>
              <div class="commentContent">
                <p><a href="#">John Doe </a>{{comment.text}}</p>
                <p class="small commentDatetime">
                  {{comment.createDate}} -
                  <a ng-controller="deleteComment" ng-click="deleteComment(comment._id)" href="/projects/{{comment._project}}">Edit</a> -
                  <a ng-controller="deleteComment" ng-click="deleteComment(comment._id)" href="/projects/{{comment._project}}">Delete</a> -
                  <a ng-controller="deleteComment" ng-click="deleteComment(comment._id)" href="/projects/{{comment._project}}">Reply</a>
                </p>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
