footer {
  margin-top: 50px;
}
/*Form Validation Colors*/
.has-warning .form-control {
  border-color: #d9534f;
}
.has-success .form-control {
  border-color: #5cb85c;
}
/*Add a default margin-top value*/
.lineBreak {
  margin-top: 20px;
}
